* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url("/images/news.jpg");
  // background-repeat: no-repeat;
}

header {
  display: flex;
  max-width: 100rem;
  width: 100%;
  justify-content: space-between;
}
.navigation {
  min-height: 6rem;
  display: flex;
  align-items: center;
}

.navigation-mobile {
  display: flex;
  align-items: center;
}

.main-nav {
  display: none;
}

.menu,
.close {
  cursor: pointer;
}

.btn-menu {
  border: none;
}

.Menu-container {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  transition: 0.4s ease;
}

/* it hides the checkbox*/
#Toggle {
  display: none;
}

.line::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  top: -8px;
  transition: 0.4s ease;
}

.line::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  top: 8px;
}

#Toggle:checked + label #active {
  transform: rotate(45deg);
}

#Toggle:checked + label #active::before {
  transform: rotate(-90deg) translateX(-8px);
}

#Toggle:checked + label #active::after {
  display: none;
}

.hidden {
  display: none;
}

.nav-link {
  border: 1px solid transparent;
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
  border: 1px solid gray;
  color: cornflowerblue;
}

.nav-link--control:focus,
.nav-link--country:focus {
  background-color: gray;
  color: white;
}

.main-content {
  max-width: 100rem;
  width: 100%;
}

.news {
  width: 100%;
  // padding: 0 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-items: center;
  margin-top: 3rem;
}

.press {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 30rem;
}

.img-press {
  width: 100%;
  margin: 1rem 0;
}

.top-news {
  font-size: 2.8rem;
  font-weight: 500;
  padding-left: 8rem;
  margin-top: 1rem;
}

.desc {
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 1.8rem;
}

.link-more {
  font-size: 1.8rem;
  text-decoration: none;
  display: inline-block;
  align-self: flex-end;
}

.active {
  background-color: gray;
  color: white;
}
