* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url("/images/news.jpg");
  // background-repeat: no-repeat;
}

header {
  display: flex;
  max-width: 100rem;
  width: 100%;
  justify-content: space-between;
}
.navigation {
  min-height: 6rem;
  display: flex;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 2rem;
}

.nav-link:active {
  background-color: gray;
  color: white;
}

// .btn {
//   cursor: pointer;
//   border: none;
//   display: inline-block;
//   font-size: 2rem;
//   // background-color: gray;
//   padding: 2rem;
// }
// .btn:active {
//   background-color: gray;
//   color: white;
// }

.main-content {
  max-width: 100rem;
  width: 100%;
}

.news {
  width: 100%;
  // padding: 0 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.press {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 30rem;
}

.img-press {
  width: 100%;
}

.top-news {
  font-size: 2.8rem;
  font-weight: 500;
  padding-left: 8rem;
  margin-top: 1rem;
}

.desc {
  display: flex;
  justify-content: space-between;
}

.description {
  font-size: 1.8rem;
}

.link-more {
  font-size: 1.8rem;
  text-decoration: none;
  display: inline-block;
}
