input {
  height: 3rem;
}
.submit {
  height: 3rem;
  padding: 0 1rem;
  border: none;
  cursor: pointer;
  background-color: darkolivegreen;
  color: white;
}

.form-sectiom {
  margin-top: 2rem;
}

#Toggle {
  display: none;
}

.line::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  top: -8px;
  transition: 0.4s ease;
}

.line::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  top: 8px;
}

#Toggle:checked + label #active {
  transform: rotate(45deg);
}

#Toggle:checked + label #active::before {
  transform: rotate(-90deg) translateX(-8px);
}

#Toggle:checked + label #active::after {
  display: none;
}

.hidden {
  display: none;
}
