@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cormorant Garamond", sans-serif;
}

header {
  display: flex;
  max-width: 100rem;
  width: 100%;
  justify-content: space-between;
  background-color: #fee43a;
}

.navigation {
  min-height: 6rem;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.navigation-mobile {
  display: flex;
  align-items: center;
}

.main-nav {
  display: none;
}

.menu,
.close {
  cursor: pointer;
}

.btn-menu {
  border: none;
}

.Menu-container {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  transition: 0.4s ease;
}

/* it hides the checkbox*/
#Toggle {
  display: none;
}

.line::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  top: -8px;
  transition: 0.4s ease;
}

.line::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  top: 8px;
}

#Toggle:checked + label #active {
  transform: rotate(45deg);
}

#Toggle:checked + label #active::before {
  transform: rotate(-90deg) translateX(-8px);
}

#Toggle:checked + label #active::after {
  display: none;
}

.hidden {
  display: none;
}

.nav-link {
  border: 1px solid transparent;
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
  border: 1px solid gray;
  color: cornflowerblue;
}

.nav-link--control:focus,
.nav-link--country:focus {
  background-color: gray;
  color: white;
}

.main-content {
  max-width: 100rem;
  width: 100%;
  background-color: #f7f7f2;
}

.news {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-items: center;
  margin-top: 3rem;
}

.press {
  border: 6px solid #3a4a47;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 30rem;
}

.img-press {
  margin: 1rem 0;
  width: 100%;
  margin: 1rem 0;
}

.top-news {
  color: rgb(38, 43, 38);
  font-size: 2.8rem;
  font-weight: 500;
  padding-left: 8rem;
  margin-top: 1rem;
}

.z {
  background: linear-gradient(to bottom, white, blue, red);
  color: #fee43a;
}

.title {
  color: rgb(19, 37, 20);
  font-weight: 700;
}

.desc {
  display: flex;
  flex-direction: column;
}

.description {
  color: #313635;
  font-size: 1.8rem;
  font-weight: 500;
}

.link-more {
  font-size: 1.8rem;
  text-decoration: none;
  display: inline-block;
  align-self: flex-end;
}

.active {
  background-color: gray;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 99rem;
  width: 100%;
  min-height: 10rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 0.5rem;
  padding: 2rem;
}

footer p {
  font-size: 2rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #fee43a;
}

label {
  font-size: 2rem;
}

#submit {
  height: 3rem;
  padding: 0 1rem;
  border: none;
  cursor: pointer;
  background-color: darkolivegreen;
  color: white;
}

select {
  height: 3rem;
}

#Toggle {
  display: none;
}

.line::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  top: -8px;
  transition: 0.4s ease;
}

.line::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  top: 8px;
}

#Toggle:checked + label #active {
  transform: rotate(45deg);
}

#Toggle:checked + label #active::before {
  transform: rotate(-90deg) translateX(-8px);
}

#Toggle:checked + label #active::after {
  display: none;
}

.hidden {
  display: none;
}

.news {
  max-width: 100rem;
}

.form--categories {
  margin-top: 2rem;
}

label {
  color: darkslategray;
}

select {
  color: #787850;
}

input {
  height: 3rem;
}

.submit {
  height: 3rem;
  padding: 0 1rem;
  border: none;
  cursor: pointer;
  background-color: darkolivegreen;
  color: white;
}

.form-sectiom {
  margin-top: 2rem;
}

#Toggle {
  display: none;
}

.line::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  top: -8px;
  transition: 0.4s ease;
}

.line::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: cornflowerblue;
  top: 8px;
}

#Toggle:checked + label #active {
  transform: rotate(45deg);
}

#Toggle:checked + label #active::before {
  transform: rotate(-90deg) translateX(-8px);
}

#Toggle:checked + label #active::after {
  display: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 750px) {
  .news {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .news {
    grid-template-columns: repeat(1, 1fr);
  }
  .mobile-nav {
    display: inline-block;
    align-self: center;
    padding-left: 1rem;
  }
  .close {
    display: none;
  }
  .navigation-control {
    display: none;
  }
  .navigation-country {
    margin-right: 1rem;
  }
  .nav-link {
    font-size: 1.4rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 460px) {
  .top-news {
    padding-left: 5rem;
  }
}
@media screen and (max-width: 390px) {
  .top-news {
    font-size: 2.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
